<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user_profile.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>title</title>
</head>
<body>

    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                            style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

                                <img src="<%=user.avatar%>"
                                    alt="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                    style="width: 150px; z-index: 0" height="100px">

                            </div>

                            <div class="ms-3" style="margin-top: 130px;">
                                <h5> <%= user.name %> </h5>
                                <p><%= user.email %></p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <section>
                            <p>
                                <div>
                                    <h5><strong>CodeForce Info :</strong></h5> 
                                 </div>
                                 <div>
                                     <h6><strong>CodeForce CurrentRating : </strong> 
                                         <%= user.cfRating%></h6>
                                 </div>
                                 <div>
                                     <h6><strong>CodeForce Rank : </strong> 
                                         <%= user.cfData.rank%></h6>
                                 </div>
         
                                 <div>
                                     <h6><strong>CodeForce Max-Rating : </strong> 
                                         <%= user.cfData.maxRating%></h6>
                                 </div>
                                 <div>
                                     <h6><strong>CodeForce Max-Rank : </strong> 
                                         <%= user.cfData.maxRank%></h6>
                                 </div>
                                 <div>
                                     <h6><strong>Users organization : </strong> 
                                         <%= user.cfData.organization%></h6>
                                 </div>
                                 <div>
                                     <h6><strong>CodeForces FriendOfCount : </strong> 
                                         <%= user.cfData.friendOfCount%></h6>
                                 </div>
                            </p>
                        </section>
                        <br>
                        <br>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">

                            <a href="/users/updateform/<%= user.id%>">
                                <button>
                                    Edit profile
                                </button>
                            </a>
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">253</p>
                                    <p class="small text-muted mb-0">Photos</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">1026</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">478</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">

                                <div id="friends-request">
                                    <div>
                                        <h4>Friend Request</h4>
                                    </div>

                                    <div>

                                        <ul>
                                            <% for(val of user.relations){%>

                                            <li>
                                                <%= val.from_user.name%>


                                                <small>
                                                    <a href="/friends/makefriend/?friendshipId=<%= val.id%>">
                                                        <button>
                                                            confirm_friend
                                                        </button>
                                                    </a>
                                                </small>


                                            </li>
                                            <br>

                                            <%}%>

                                        </ul>
                                           
                                   </div>


                               </div>


                               <div id="friends-request">
                                <div>
                                    <h4>Friends</h4>
                                </div>

                                <div>

                                    <ul>
                                        <% for(val of user.friends){%>

                                            <li>

                                                <%  if(locals.user.id!=val.from_user.id){%>

                                                <%= val.from_user.name%>

                                                <a
                                                    href="/friends/destroy?friend1=<%=locals.user.id%>&friend2=<%=val.from_user.id%>">
                                                    <small>
                                                        <button>
                                                            Remove_Friends
                                                        </button>
                                                    </small>

                                                </a>

                                                <%}%>
                                            

                                          <%  if(locals.user.id!=val.to_user.id){%>

                                                <%= val.to_user.name%>

                                                <a
                                                    href="/friends/destroy?friend1=<%=locals.user.id%>&friend2=<%=val.to_user.id%>">
                                                    <small>
                                                        <button>
                                                            Remove_Friends
                                                        </button>
                                                    </small>

                                                </a>

                                                <%}%>
                                           
                                         
                                        </li>
                                        <br>
                                         <br>
                                        <%}%>

                                        </ul>

                                    </div>


                                </div>


                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-1"><%= user.about%></p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Recent photos</p>
                                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                            </div>

                            <%for(val of photos){%>
                                <img src="<%= val.photo%>" alt="" height="200px" width="200px">
                            <%}%>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
                <%- include('_chat_box') -%>
        </div>
    </section>


   
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script src="/js/chat_engine.js"></script>


<%if(locals.user){%>

<script>
 new ChatEngine("user-chat-box", '<%= locals.user.email %>')
</script>

<%}%>


</html>

